@import "tailwindcss";

html,body{
    overflow-x:hidden;
}

::-webkit-scrollbar{
    width:6px;
    height: 6px;
}

::-webkit-scrollbar-thumb{
    background-color: #9929ea;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
}

